doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous")
        link(rel="stylesheet" href="./style/404.css")
        title Machine Company
    body
        include layout/header.pug
        section.section-error
            .error
                .error-content
                    h1.error-content__title 404 error
                    p.error-content__text Chúng tôi không tìm thấy kết quả nào 
                                | phù hợp với tìm kiếm của bạn 
                                | !Xin vui lòng trở về trang chủ
                    .error-content__btn
                        a.error-content__btn--dark(href="#") trang chủ
                .error-img
                    img.error-img--img(src="./imgs/404--bg.png")
        include layout/footer.pug
        script
            include script/navScript.js