doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous")
        link(rel="stylesheet" href="./style/blog.css")
        title Machine Company
    body
        include layout/header.pug
        include layout/breadcrumb.pug
        include layout/section__head.pug
        include layout/aside.pug
        +breadcrumb("tin tức")
        include layout/_var__listProduct.pug
        include layout/_var__blog.pug
        include layout/_var__select.pug
        include layout/_blog.pug
        section.section-blog
            .aside-list
                aside.aside
                    +asideList("fas fa-bars",
                            "DANH MỤC SẢN PHẨM",
                            "fas fa-th-large",
                            productPortfolio)
                aside.aside
                    +asideListNone("fas fa-th-large",
                            "DANH MỤC TIN TỨC",
                            "fas fa-th-large",
                            news)
                aside.aside
                    +asideGrid("fas fa-th-large",
                            "THƯ VIỆN HÌNH ẢNH",
                            galery)
                aside.aside
                    +asideTags("fas fa-th-large",
                            "THẺ TAGS",
                            tags)
            .section-blog__content
                .section-blog__article
                        +blog(imgBlog,
                            titleBlog,
                            timeBlog,
                            authorBlog,
                            commentBlog,
                            textBlog)
                .section-blog__page
                        each value in page
                            a.section-blog__page--link(href="#")= value
        include layout/footer.pug
        script
            include script/navScript.js