doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous")
        link(rel="stylesheet" href="./style/style.css")
        title Machine Company
    body
        include layout/header.pug
        include layout/header__slider.pug
        include layout/section__head.pug
        include layout/aside.pug
        include layout/high__product.pug
        section.section-highproduct
            +sectionHead("fas fa-th-large", "sản phẩm nổi bật")
            .section__content
                aside.aside
                    +asideList("fas fa-bars",
                            "DANH MỤC SẢN PHẨM",
                            "fas fa-th-large",
                            productPortfolio)
                .product-grid
                    +productCard(imgs, prices, titles, stars, rates) 
        section.section-newproduct
            +sectionHead("fas fa-th-large", "sản phẩm mới", category)
            .section__content
                .product-grid
                    +productCard(imgsNewProduct,
                                 pricesNewProduct,
                                 namesNewProduct,
                                 starsNewProduct,
                                 ratesNewProduct)
        include layout/section__banner.pug
        section.section-sale
            +sectionHead("fas fa-th-large", "sản phẩm bán chạy", category)
            .section__content
                .sale-grid
                    +productCard(imgsHotSale,
                                 pricesHotSale,
                                 namesHotSale,
                                 starsHotSale,
                                 ratesHotSale,
                                 areaHotSale)
        include layout/banner__bottom.pug
        include layout/new__receive.pug
        section.section-newreceive
            +sectionHead("fas fa-th-large", "hàng mới về")               
            .newreceive-grid
                +cardWidth(imgsNewReceive,
                            namesNewReceive,
                            starsNewReceive,
                            ratesNewReceive,
                            textsNewReceive,
                            pricesNewReceive)    
        include layout/slider__corp.pug
        include layout/news__letter.pug
        include layout/footer.pug
        script
            include script/navScript.js
            include script/slide.js
            include script/aside.js
            include script/slider.js