.aside {
    width: 20rem;
    margin: 0 auto;
    &__list {
      margin: 0;
      list-style-type: none;
      border: 1px solid #a1a1a1;
      padding-left: 0;
      box-shadow: 0px 5px 10px 0px rgba(161,161,161,.7);
      &-item {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        transition: .7s;
        & > * {
         color: #a1a1a1;
         margin-left: 1rem;
        } 
        &:not(:last-child) {
          border-bottom: 1px solid #a1a1a1;
        }
        &:first-child {
          position: relative;
          border-color: #202020;
          background-color: #202020;
          &:after {
          content: '';
          position: absolute;
          width:7px;
          height:7px;
          border-left:3px solid $--primary;
          border-bottom:3px solid $--primary;
          transform:rotate(-45deg) ;
          right: 5%;
          top: 30%;
          }
          & > * {
            color: $--primary;
          }
        }
        &:hover {
          border-color: #202020;
          color: $--primary;
          background-color: #202020;
        }
        &:hover > *{
          color: $--primary;
        }
        &__content {
          font-size: 1.4rem;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 1.286;
          &--name {
            color: #202020;
            margin-bottom: 10px;
          }
          &--price {
            color: $--danger;
          }
        }
        &--img {
          max-width: 100%;
          height: auto;
        }
      }
      @include responsive_320 {
        height: 5rem;
        overflow: hidden;
        &:hover {
          height: fit-content;
          overflow: initial;
        }
      }
      @media (min-width: 846px) {
        height: 100%;
        &:hover {
          height: 100%;
        }
        &-item {
          height: 60px;
        }
      }
      @media (min-width: 1140px) {
        height: 100%;
        &:hover {
          height: 100%;
        }
        &-item {
          height: 60px;
        }
      }
    }
    .height-120 {
      height: 120px;
      &:hover {
        background: #fff;
        box-shadow: 0px 5px 10px 0px rgba(161,161,161,.8);
      }
    }
    @include responsive_320 {
        width: 100%;
        margin-bottom: 30px;
    }
    @include responsive_480 {
        width: 100%;
    }
    @media (min-width: 846px) {
        width: 262px;
        margin-right: 30px;
        &-list {
          width: 262px;
        }
    }
    @media (min-width: 1140px) {
        width: 262px;
        margin-right: 30px;
    }
  }