$--primary: #f5bd10;
$--secondary: #252525;
$--bg--secondary: #f7f7f7;
$--pricing: #ff0000;
$--border: #898989;
$--border--slide: #e1e1e1;
$--border--nav: #363636;
$--white: #fff;
$--text : #636363;
$--danger: #ff0000;