include _var__shoping.pug
.shoping-wrapper
    table.shoping
        thead
            tr.shoping__heading
                each val in column
                    th.shoping__th= val
        tbody
    .payment.payment--right
        table.payment-table
            tr.payment-table__row
                td tổng tiền:
                td#total-price
                    span Đ
            tr.payment-table__row
                td thuế(vat):
                td#vat-price
                    span Đ
            tr.payment-table__row
                td thanh toán:
                td#payment-price.payment-table__row--danger
                    span Đ
        .payment-btn
            a.payment-btn--dark(href="grid.html") tiếp tục mua hàng
            a.payment-btn--bright(href="#") thanh toán