-
    var select = [
        "Tên sản phẩm",
        "Giá",
        "Đánh giá",
        "Tình trạng",
        "Thời gian"
    ]
-   var show = [5,10,20,50];
-   var page = ["trang trước", 1,2,3,"trang cuối"]