- var labelInfoUser = ["Họ và tên:", "Email:","Số điện thoại:","Địa chỉ"];
- var typeInfoUser = ["text", "email","text","text"];
- var idInfoUser = ["inputName", "inputEmail","inputPhone","inputAddress"];
- var formCheck = "Đăng kí nhận tin tức qua email";
//- 
- var labelInfoLogin = ["Họ và tên:", "Email:"];
- var typeInfoLogin = ["text", "email"];
- var idInfoLogin = ["inputNameLogin", "inputEmailLogin"];
- var btn = ["quay lại","đăng kí"]; 