-
    var imgsNewReceive = [
        "../imgs/new--receive/new--receive-1.png",
        "../imgs/new--receive/new--receive-2.png",
        "../imgs/new--receive/new--receive-3.png",
        "../imgs/new--receive/new--receive-4.png"
    ]
-
    var namesNewReceive = [
        "máy khoan CNC 3D",
        "máy khoan CNC 3D",
        "máy khoan CNC 3D",
        "máy khoan CNC 3D",
    ]
-   var starsNewReceive = [4,4,4,4]
-   var ratesNewReceive = [12,12,12,12]
-
    var textsNewReceive = [
        "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment...",
        "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment...",
        "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment...",
        "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment..."
    ]
-
    var pricesNewReceive = [
        "2.350.000Đ",
        "2.350.000Đ",
        "2.350.000Đ",
        "2.350.000Đ"
    ]
