-
    var label = [
        "Họ và tên",
        "Số điện thoại",
        "Email",
        "Địa chỉ"
    ]
-   var type = ["text","text","email","text"]
-
    var idInput = [
        "idName",
        "inputPhone",
        "inputEmail",
        "inputAddress"
    ]
-
    var idInputResult = [
        "idNameResult",
        "inputPhoneResult",
        "inputEmailResult",
        "inputAddressResult"
    ]