-
    var productPortfolio = [
        "máy khoan, cắt CNC",
        "máy in phun cỡ lớn",
        "máy quét canon 3D",
        "máy hàn điện Alunima",
        "máy khoan Decameta",
        "máy phay đa năng CNC",
        "máy mài, tện, DC 12V",
        "máy khoan, cắt CNC",
        "máy thông minh N3",
        "motor R34C đa dụng",
        "máy in laser màu 3D"
    ]