-
    var imgBlog = [
        "../imgs/blog/blog--1.png",
        "../imgs/blog/blog--2.png",
        "../imgs/blog/blog--4.png",
        "../imgs/blog/blog--5.png"
    ]
-
    var titleBlog = [
        "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng",
        "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng",
        "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng",
        "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng"
    ]
-
    var timeBlog = [
        "thứ năm, ngày 23/10/2015 8:00 AM",
        "thứ năm, ngày 23/10/2015 8:00 AM",
        "thứ năm, ngày 23/10/2015 8:00 AM",
        "thứ năm, ngày 23/10/2015 8:00 AM"
    ]
-
    var authorBlog = [
        "design team",
        "design team",
        "design team",
        "design team"
    ]
-
    var commentBlog = [12,12,12,12]
-
    var textBlog = [
        "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure...",
        "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure...",
        "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure...",
        "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure..."
    ]