-
    var about = [
        "Công ty Cổ Phần Công Nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử.",
        "Tầng 4 - Tòa nhà Hanoi Group 442 Đội Cấn Ba Đình - Hà Nội",
        "support@dkt.com.vn",
        "(84-4) 66558868 - (84-4) 37868904"
    ]
-
    var aboutIcon = [
        "",
        "fas fa-map-marker-alt",
        "fas fa-envelope",
        "fas fa-mobile-alt"
    ]
-
    var policy = [
        "chính sách giao hàng",
        "chính sách đổi sản phẩm",
        "chính sách bảo hành",
        "chính sách trả góp",
        "giới thiệu hàng đổi trả",
        "vận chuyển miễn phí",
    ];
-
    var service = [
        "hệ thống cửa hàng",
        "hướng dẫn mua hàng",
        "hướng dẫn thanh toán",
        "tích điểm đổi thưởng",
        "dịch vụ đổi trả hàng",
        "câu hỏi thường gặp"
    ]
-
    var news = [
        "tin tức mới nhất",
        "tin tức khuyến mại",
        "tuyển dụng, đãi ngộ",
        "download tài liệu",
        "chương trình đối tác",
        "nhà phát triển ứng dụng"
    ]
-
    var contact = [
        "facebook",
        "twitter",
        "google",
        "skype",
        "instagram"
    ]
-
    var contactIcon = [
        "fab fa-facebook-f",
        "fab fa-twitter",
        "fab fa-google-plus-g",
        "fab fa-skype",
        "fab fa-instagram"
    ]
-
    var pay = [
        "../imgs/pay/pay--1.png",
        "../imgs/pay/pay--2.png",
        "../imgs/pay/pay--3.png",
        "../imgs/pay/pay--4.png",
        "../imgs/pay/pay--5.png",
        "../imgs/pay/pay--6.png",
        "../imgs/pay/pay--7.png",
        "../imgs/pay/pay--8.png",
    ]