-
    var imgsNewProduct = [
        "../imgs/new--product/new--product-1.png",
        "../imgs/new--product/new--product-2.png",
        "../imgs/new--product/new--product-3.png"
    ]
-
    var namesNewProduct = [
        "máy khoan BLACK DECKER",
        "máy khoan BLACK DECKER",
        "máy khoan BLACK DECKER"
    ]
-   var starsNewProduct = [4,4,4]
-   var ratesNewProduct = [12,12,12]
-
    var pricesNewProduct = [
        "1.150.150 Đ",
        "1.150.150 Đ",
        "1.150.150 Đ"
    ]
