-
    var imgsSale = [
        "../imgs/sale--product/sale--product-1.png",
        "../imgs/sale--product/sale--product-2.png",
        "../imgs/sale--product/sale--product-3.png",
        "../imgs/sale--product/sale--product-4.png",
        "../imgs/sale--product/sale--product-5.png"
    ]
-
    var names = [
        "máy khoan black decker loại 1",
        "máy khoan black decker loại 1",
        "máy khoan black decker loại 1",
        "máy khoan black decker loại 1",
        "máy khoan black decker loại 1"
    ]
-
    var prices = [
        "1.550.000 Đ",
        "1.550.000 Đ",
        "1.550.000 Đ",
        "1.550.000 Đ",
        "1.550.000 Đ"
    ]