-   var img = "../imgs/detail/detail--product.png"
-
    var detailImg = [
        "../imgs/detail/detail--product-1.png",
        "../imgs/detail/detail--product-2.png",
        "../imgs/detail/detail--product-3.png",
        "../imgs/detail/detail--product-4.png",
        "../imgs/detail/detail--product-5.png"
    ]
-   var title = "máy khoan cnc 3d"
-   var star = 4
-   var rate = 12
-   var text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..."
-   var price = "2.350.000 Đ"
-   var size = ["-- Chọn size --",15,20,25]
-   var color = ["-- Chọn màu --","xanh", "đỏ", "vàng"]
-
    var imgs = [
        "../imgs/high--product/high--product-1.png",
        "../imgs/high--product/high--product-2.png",
        "../imgs/high--product/high--product-3.png"
    ]
-
    var prices = [
        "1.150.150 Đ",
        "1.150.150 Đ",
        "1.150.150 Đ"
    ]
-
    var titles = [
        "máy khoan BLACK DECKER",
        "máy khoan BLACK DECKER",
        "máy khoan BLACK DECKER"
    ]
- var stars = [4,4,4]
- var rates = [12,12,12]