-
    var imgs = [
        "../imgs/high--product/high--product-1.png",
        "../imgs/high--product/high--product-1.png",
        "../imgs/high--product/high--product-1.png",
        "../imgs/high--product/high--product-1.png",
        "../imgs/high--product/high--product-1.png",
        "../imgs/high--product/high--product-1.png"
    ]
-
    var prices = [
        "1.150.150 Đ",
        "1.150.150 Đ",
        "1.150.150 Đ",
        "1.150.150 Đ",
        "1.150.150 Đ",
        "1.150.150 Đ"
    ]
-
    var titles = [
        "máy khoan BLACK DECKER",
        "máy khoan BLACK DECKER",
        "máy khoan BLACK DECKER",
        "máy khoan BLACK DECKER",
        "máy khoan BLACK DECKER",
        "máy khoan BLACK DECKER"
    ]
- var stars = [4,4,4,4,4,4]
- var rates = [12,12,12,12,12,12]