-
    var imgsListProduct = [
        "../imgs/new--receive/new--receive-1.png",
        "../imgs/new--receive/new--receive-2.png",
        "../imgs/new--receive/new--receive-3.png",
        "../imgs/new--receive/new--receive-4.png",
        "../imgs/new--receive/new--receive-1.png",
        "../imgs/new--receive/new--receive-2.png",
        "../imgs/new--receive/new--receive-3.png",
        "../imgs/new--receive/new--receive-4.png",
        "../imgs/new--receive/new--receive-1.png"
    ]
-
    var nameListProduct = [
        "máy khoan CNC 3D",
        "máy khoan CNC 3D",
        "máy khoan CNC 3D",
        "máy khoan CNC 3D",
        "máy khoan CNC 3D",
        "máy khoan CNC 3D",
        "máy khoan CNC 3D",
        "máy khoan CNC 3D",
        "máy khoan CNC 3D"
    ]
-   var starsListProduct = [4,4,4,4,4,4,4,4,4]
-   var rateListProduct = [12,12,12,12,12,12,12,12,12]
-
    var textListProduct = [
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt...",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt...",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt...",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt...",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt...",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt...",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt...",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt...",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..."
    ]
-
    var priceListProduct = [
        "2.350.000Đ",
        "2.350.000Đ",
        "2.350.000Đ",
        "2.350.000Đ",
        "2.350.000Đ",
        "2.350.000Đ",
        "2.350.000Đ",
        "2.350.000Đ",
        "2.350.000Đ",
    ]
