- var label = ["Họ và tên:", "Email:"];
- var type = ["text", "email"];
- var idInput = ["inputName", "inputEmail"];
- var formCheck = "Ghi nhớ đăng nhập";
- var missPass  = "bạn quên mật khẩu ?";
- var btn = ["đăng nhập"]; 