-
    var productPortfolio = [
        "máy khoan, cắt CNC",
        "máy in phun cỡ lớn",
        "máy quét canon 3D",
        "máy hàn điện Alunima",
        "máy khoan Decameta",
        "máy phay đa năng CNC",
        "máy mài, tện, DC 12V",
        "máy khoan, cắt CNC",
        "máy thông minh N3",
        "motor R34C đa dụng",
        "máy in laser màu 3D"
    ]
-
    var priceList = [
        "0 - 200.000 Đ (45)",
        "200.000 - 500.000 Đ (32)",
        "500.000 - 1.000.000 Đ (27)",
        "1.000.000 - 2.000.000 Đ (16)",
        "trên 2.000.000 Đ (9)",
    ]
-
    var colorList = [
        "màu xanh (45)",
        "màu vàng (32)",
        "màu xanh (27)",
        "màu bạc (16)",
        "màu đen (9)",
    ]
-
    var news = [
        "đời sống pháp luật(5)",
        "kinh tế trong nước(8)",
        "sức khỏe và gia đình(9)",
        "công nghệ thông tin(5)",
        "tin tức khác(12)",
    ]
-
    var galery = [
        "../imgs/galery/galery--img-1.png",
        "../imgs/galery/galery--img-2.png",
        "../imgs/galery/galery--img-3.png",
        "../imgs/galery/galery--img-4.png",
        "../imgs/galery/galery--img-5.png",
        "../imgs/galery/galery--img-6.png",
    ]
-
    var tags = [
        "thời trang",
        "máy khoan",
        "news",
        "công nghiệp",
        "xây dựng",
        "phay",
        "máy cắt",
        "hóa chất"
    ]