- var text = "máy cắt, khoan đa năng tích hợp điều khiển từ xa loại nhỏ thích hợp với các hộ gia đình";
section.banner-bottom
    .banner-bottom__img
        img(src="../imgs/banner.png")
    .banner-bottom__content
        h1.banner-bottom__title rocket wokaru
        p.banner-bottom__text= text
        .banner__btn
            .banner__btn--buy mua ngay
            .banner__btn--info chi tiết