include _var__highProduct.pug
include _var__newProduct.pug
include _var__hotsale.pug
include _var__category.pug
mixin productCard(img, price, title, star, rate, area)
    -for(var i=0; i<img.length; i++){
        .product__card(class=(area ? area[i] : ""))
            .card
                img.card__img(src= img[i])
                h3.card__price= price[i]
                p.card__title= title[i]
                .card__evaluate
                    -for(var j=0;j<star[i];j++){
                        i.fas.fa-star.card__evaluate-star
                    -}
                    p.card__evaluate-rate (#{rate[i]}) đánh giá
                .card__btn
                    a(href="#").card__btn--buy mua ngay
                    a(href="#").card__btn--info xem chi tiết
    -}