include _var__category.pug
include section__head.pug
mixin productCard(img, price, title, star, rate, area)
    .product__card(class= area)
        .card
            img.card__img(src= img)
            h3.card__price= price
            p.card__title= title
            .card__evaluate
                -for(var i=0;i<star;i++){
                    i.fas.fa-star.card__evaluate-star
                -}
                p.card__evaluate-rate (#{rate}) đánh giá
            .card__btn
                a(href="#").card__btn--buy mua ngay
                a(href="#").card__btn--info xem chi tiết
section.section-sale
    +sectionHead("fas fa-th-large", "sản phẩm bán chạy", category)
    .section__content
        .sale-grid
            +productCard("../imgs/hot--product/hot--product-1.png",
                        "1.150.150 Đ",
                        "máy khoan BLACK DECKER",
                        4,
                        12,
                        "product__card--1")
            +productCard("../imgs/hot--product/hot--product-center.png",
                        "1.150.150 Đ",
                        "máy khoan BLACK DECKER",
                        4,
                        12,
                        "product__card--2")
            +productCard("../imgs/hot--product/hot--product-3.png",
                        "1.150.150 Đ",
                        "máy khoan BLACK DECKER",
                        4,
                        12,
                        "product__card--3")
            +productCard("../imgs/hot--product/hot--product-3.png",
                        "1.150.150 Đ",
                        "máy khoan BLACK DECKER",
                        4,
                        12,
                        "product__card--4")
            +productCard("../imgs/hot--product/hot--product-4.png",
                        "1.150.150 Đ",
                        "máy khoan BLACK DECKER",
                        4,
                        12,
                        "product__card--5")
        