include _var__newReceive.pug
mixin cardWidth(img, title, star, rate, text, price)
    -for(var i=0; i<img.length; i++){
        .card-width
            .card
                .card__img
                    img.card__img-img(src= img[i])
                .card__content
                    p.card__title= title[i]
                    .card__evaluate
                        -for(var j = 0; j<star[i]; j++){
                            i.fas.fa-star.card__evaluate-star
                        -}
                        p.card__evaluate-rate (#{rate[i]}) đánh giá
                    p.card__text= text[i]
                    h3.card__price= price[i]
                    .card__btn
                        a(href="#").card__btn--buy mua ngay
                        a(href="#").card__btn--info xem chi tiết
    -}