section.news-letter
    p.news-letter__title Đăng kí để nhận tin tức khuyến mãi hàng tuần
    .news-letter__form
        input.news-letter__form--input(type="email", placeholder="Nhập email của bạn...")
        a(href).news-letter__form--btn đăng kí