- var title = ['miễn phí vận chuyển', 'chính sách đổi trả', 'khuyển mại hàng tuần', 'cam kết hàng chính hãng'];
- var icon = ['fas fa-plane list-item__icon--rotate', 'fas fa-sync-alt','fas fa-gift', 'fas fa-thumbs-up'];
-
  var parap = [
    'Chúng tôi vận chuyển miễn phí với các  đơn hàng trị giá trên 1.000.000Đ',
    'Nếu phát hiện lỗi của nhà sản xuất,  chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên',
    'Mỗi thứ 7 hàng tuần đều có chương  trình giảmgiá và khuyến mại lớn',
    'Chúng tôi cam kết bán hàng chính hãng  100% với tất cả các loại sản phẩm'
  ];